<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <h1>RADAR</h1>
<!--    <img class="radar-image" th:src="@{'data:image/png;base64,'+${image}}"  width="700" height="700"/>-->
<!--    <img class="radar-image4" th:src="@{${imageLink}}" width="700" height="700"/>-->
    <img class="radar-image4" th:src="@{${imageLink}(playerId=${playerId}, season=${season}, type=${type})}" width="700" height="700"/>


</body>
</html>