<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:object="${player}">
    <h1><span th:text="*{name} "></span></h1>
    <p th:text="*{height} + ' cm, ' + *{weight} + ' kg'"></p>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th>Year</th>
            <th>Team</th>
            <th>Points</th>
            <th>Rebounds </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="statline : ${stats}">
            <tr>
                <td><span th:text="${statline.id.season}"></span></td>
                <td><span th:text="${statline.id.team.name}"></span></td>
                <td><span th:text="${statline.pts}"></span></td>
                <td><span th:text="${statline.reb}"></span></td>

                <th:block th:each="radarType : ${radarTypes}">
                    <td><a th:href="@{|/players/${player.id}/${statline.id.season}/${radarType.getText()}|}"><span th:text="${radarType.getText()} + ' radar'"> </span></a></td>
                </th:block>

            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>