<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div th:if="${searchPhrase != null}" th:text="'Results of search for phrase: ' + ${searchPhrase}">static searchPhrase</div>

    <table class="table">
        <thead>
            <tr><th>Name</th></tr>
        </thead>
            <tbody>
            <tr th:each="player, iStat : ${page.content}">
                <td><a th:href="@{|/players/${player.id}|}"><span th:text="${player.name}"> Name </span></a></td>
            </tr>
            </tbody>
    </table>

    <!--<div th:if="${page.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">-->
        <!--    <a th:href="@{/players(size=${page.size}, page=${pageNumber})}"-->
               <!--th:text=${pageNumber}-->
               <!--th:class="${pageNumber==page.number + 1} ? active"></a>-->
    <!--</div>-->

    <div class="row" th:fragment="pagination">
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a th:if="${searchPhrase == null}" class="page-link" th:href="@{/players(size=${page.size}, page=${pageNumber-1})}" th:text=${pageNumber}>1</a>
                        <a th:if="${searchPhrase != null}" class="page-link" th:href="@{/players/search_result(name=${searchPhraseEncoded}, size=${page.size}, page=${pageNumber-1})}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>