<!-- Footer -->
<footer class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Footer Elements -->
    <div class="container">
        <!-- Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
                <p>All data from
                    <a href="https://www.basketball-reference.com/">Basketball-Reference.com</a>
                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->
    </div>
</footer>
<!-- Footer -->