.navbar{
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height:1.2
}
.navbar-dark .navbar-brand
{
    color:#ffc107;
    font-size:3rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.navbar-dark .navbar-brand:hover
{
    color:#ffc107;
}

.navbar-dark .navbar-nav .nav-link {
    color:#ffc107;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #28a745;
    border-color: #28a745;
}

#indexForm{
    margin-top:0.15rem;
}

.table td, .table th {
    padding: .4rem;
}

.footer {
    color:#ffc107;
    line-height:1rem;
    background-color:#343a40;
      flex-shrink: 0;
}

.footer p {
    margin-top:1rem;
}
footer a{
    color:#ffc107;
    text-decoration: underline;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}